@import '../../style-helpers/_base'

.profile-images
    text-align center
    border 3px dashed pink
    margin 20px 0
    padding 20px
    cf()

    .title
        margin-top 0

    .btn
        display inline-block
        margin-bottom 30px

    .profile-image
        col(3/12, cycle: 4)
        margin-bottom 20px
