<div class="profile-images">
    <h2 class="title">{{ vm.title }}</h2>

    <button class="btn" ng-hide="vm.hideButton" ng-click="vm.getProfilePics()">
        Get Profile Pics
    </button>

    <div ng-if="vm.templates">
        <img class="profile-image" ng-repeat="template in vm.templates" ng-src="{{template}}" />
    </div>
</div>
