@import 'style-helpers/_base'

body
    font-family bodyFont
    color darkGrey
    -webkit-font-smoothing antialiased

.app-title
    text-align center
    font-weight 100
    font-size 3em

.container
    max-width 800px
    margin 0 auto
    padding 0 10px
